<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>855699658342-795noei9pnn3hcjqiemot8baprmj2lde.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.855699658342-795noei9pnn3hcjqiemot8baprmj2lde</string>
	<key>API_KEY</key>
	<string>AIzaSyD9PpLiSfh8dyBRUqw715tNQZOcqyZWdSU</string>
	<key>GCM_SENDER_ID</key>
	<string>855699658342</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bestFlutterUiTemplates</string>
	<key>PROJECT_ID</key>
	<string>flutterauth-c84cf</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterauth-c84cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:855699658342:ios:23e975472b06e8a81bbfa7</string>
</dict>
</plist>
